<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2017 Google LLC

Licensed for use under "ARCore Additional Terms of Service". You may obtain
a copy of the license at https://developers.google.com/ar/develop/terms.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.ar.core"
    android:versionCode="232630200"
    android:versionName="1.40.232630200" >
    <!--
 minSdkVersion is set low to allow use of ArCoreApk_checkAvailability in apps with
  very low minimal requirements.
    -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="34" />

    <queries>
        <package android:name="com.google.ar.core" />
    </queries>

    <application>

        <!-- The minimal version code of ARCore APK required for an app using this SDK. -->
        <meta-data
            android:name="com.google.ar.core.min_apk_version"
            android:value="232050000" />
        <!-- This activity is critical for installing ARCore when it is not already present. -->
        <activity
            android:name="com.google.ar.core.InstallActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Material.Light.Dialog.Alert" />
    </application>

</manifest>